<div data-role="page" id="events">

	<div data-role="header">
	<a href="javascript:history.go(-1)" data-icon="back">back</a>
		<h1>Events</h1>
		
		
	</div><!-- /header -->

	<div data-role="content">	
<ul data-role="listview" data-theme="d" data-divider-theme="d">
			<li data-role="list-divider">Less then 5  Miles away. <span class="ui-li-count">2</span></li>
			<li><a href="index.html">

					<h3>Eventname</h3>
					<p><strong>Event Address</strong></p>
					<p>Brief description of Event</p>
					<p class="ui-li-aside"><strong>2</strong> Miles Away</p>

			</a></li>
			<li><a href="index.html">

					<h3>Eventname</h3>
					<p><strong>Event Address</strong></p>
					<p>Brief description of Event</p>
					<p class="ui-li-aside"><strong>2</strong> Miles Away</p>

			</a></li>
			<li data-role="list-divider">Less then ten  Miles away <span class="ui-li-count">3</span></li>
			<li><a href="index.html">

					<h3>Eventname</h3>
					<p><strong>Event Address</strong></p>
					<p>Brief description of Event</p>
					<p class="ui-li-aside"><strong>2</strong> Miles Away</p>

			</a></li>
			<li><a href="index.html">

					<h3>Eventname</h3>
					<p><strong>Event Address</strong></p>
					<p>Brief description of Event</p>
					<p class="ui-li-aside"><strong>2</strong> Miles Away</p>

			</a></li>
			<li><a href="index.html">

					<h3>Eventname</h3>
					<p><strong>Event Address</strong></p>
					<p>Brief description of Event</p>
					<p class="ui-li-aside"><strong>2</strong> Miles Away</p>

			</a></li>
<li data-role="list-divider">Less then twenty five  Miles away <span class="ui-li-count">3</span></li>
			<li><a href="index.html">

					<h3>Eventname</h3>
					<p><strong>Event Address</strong></p>
					<p>Brief description of Event</p>
					<p class="ui-li-aside"><strong>2</strong> Miles Away</p>

			</a></li>
			<li><a href="index.html">

					<h3>Eventname</h3>
					<p><strong>Event Address</strong></p>
					<p>Brief description of Event</p>
					<p class="ui-li-aside"><strong>2</strong> Miles Away</p>

			</a></li>
			<li><a href="index.html">

					<h3>Eventname</h3>
					<p><strong>Event Address</strong></p>
					<p>Brief description of Event</p>
					<p class="ui-li-aside"><strong>2</strong> Miles Away</p>

			</a></li>
			
			

		</ul>
	</div><!-- /content -->

	<div data-role="footer" data-position="fixed" data-tap-toggle="false">
    <div data-role="navbar">
	<ul>
            <li><a href="#messages" class="ui-btn-active ui-state-persist">Messages</a></li>
			<li><a href="#notifications">Notifications</a></li>
            <li><a href="#">Friend Search</a></li>
	</ul>
    </div>  
</div>