<div data-role="page" id="Drinks">

	<div data-role="header">
	<a href="javascript:history.go(-1)" data-icon="back">back</a>
		<h1>Drink Name</h1>
		<a href="list.html" data-icon="Add">Add</a>
		
	</div><!-- /header -->

	<div data-role="content">	
		<b><div class="viewphoto"><img style="width: 100%; height: 100%;" src="..\images\gin-cucumber-drink.thumbnail.jpg"></div>
		<b>Name Of Drink</b></br> Drink description.</br></br></br></br></br></br></br>Ingredients of Drink, ect.
		</b></br>
	</div><!-- /content -->

	
	<div data-role="footer" data-position="fixed" data-tap-toggle="false">
    <div data-role="navbar">
	<ul>
            <li><a href="#messages" class="ui-btn-active ui-state-persist">Messages</a></li>
			<li><a href="#notifications">Notifications</a></li>
            <li><a href="#">Friend Search</a></li>
	</ul>
    </div>  
</div>