<div data-role="page" id="notification">

	<div data-role="header">
	<a href="javascript:history.go(-1)" data-icon="back">back</a>
		<h1>Notifications</h1>
		
	</div><!-- /header -->

	<div data-role="content">	
		<b>This page will display the Most Recent Featured Item,
		The list option will display a list of all the previously featured items in order.
		</b></br>
	</div><!-- /content -->

	<div data-role="footer" data-position="fixed" data-tap-toggle="false">
    <div data-role="navbar">
	<ul>
            <li><a href="views/messages.html" class="ui-btn-active ui-state-persist">Messages</a></li>
			<li><a href="views/notification.html">Notifications</a></li>
            <li><a href="#">Logout</a></li>
	</ul>
    </div>  
</div>