<div data-role="page" id="feature">

	<div data-role="header">
	<a href="javascript:history.go(-1)" data-icon="back">back</a>
		<h1>Photo Title</h1>
		<a href="list.html" data-icon="grid">List</a>
		
	</div><!-- /header -->

	<div data-role="content">	
<img src="images/IMG8895-X3.jpg" width="100%" height="auto" >

This page should allow a user to flick left and right through the most recent photos, the list view will show a grid of the photos, i was unable to properly get this working for some reason but i'm still working on it at this time.
	</div><!-- /content -->

	<div data-role="footer" data-position="fixed" data-tap-toggle="false">
    <div data-role="navbar">
	<ul>
            <li><a href="#messages" class="ui-btn-active ui-state-persist">Messages</a></li>
			<li><a href="#notifications">Notifications</a></li>
            <li><a href="#">Logout</a></li>
	</ul>
    </div>  
</div>