<div data-role="page" id="listfeat">

	<div data-role="header">
	<a href="javascript:history.go(-1)" data-icon="back">back</a>
		<h1>All Sauced</h1>
		<a href="list.html" data-icon="Add">Add</a>
		
	</div><!-- /header -->

	<div data-role="content">	
<ul data-role="listview" data-theme="d" data-divider-theme="d">
			<li data-role="list-divider">Friday, October 8, 2010 <span class="ui-li-count">2</span></li>
			<li><a href="index.html">

					<h3>Item Title</h3>
					<p>Item content preview will be displayed here, the time displayed in this item will be the post time of the item</p>
					<p class="ui-li-aside"><strong>6:24</strong>PM</p>

			</a></li>
			<li><a href="index.html">

					<h3>Lorem ipsum</h3>
					<p>dolor sit amet, consectetur adipiscing elit. Nullam fringilla posuere leo eu dignissim. Duis a lectus ut neque mattis volutpat at sed diam. Nunc interdum laoreet egestas. Quisque non erat eu dui tempor condimentum. Nunc a dui in erat aliquam elementum. Aliquam eu metus odio, ac aliquam odio. Fusce vel magna vel neque placerat tincidunt. Mauris nec dapibus est. Maecenas sed lacinia nequ</p>
					<p class="ui-li-aside"><strong>6:24</strong>PM</p>

			</a></li>
			<li data-role="list-divider">Friday, October 7, 2010 <span class="ui-li-count">3</span></li>
			<li><a href="index.html">

					<h3>Lorem ipsum</h3>
					<p>dolor sit amet, consectetur adipiscing elit. Nullam fringilla posuere leo eu dignissim. Duis a lectus ut neque mattis volutpat at sed diam. Nunc interdum laoreet egestas. Quisque non erat eu dui tempor condimentum. Nunc a dui in erat aliquam elementum. Aliquam eu metus odio, ac aliquam odio. Fusce vel magna vel neque placerat tincidunt. Mauris nec dapibus est. Maecenas sed lacinia nequ</p>
					<p class="ui-li-aside"><strong>6:24</strong>PM</p>

			</a></li>
			<li><a href="index.html">

					<h3>Lorem ipsum</h3>
					<p>dolor sit amet, consectetur adipiscing elit. Nullam fringilla posuere leo eu dignissim. Duis a lectus ut neque mattis volutpat at sed diam. Nunc interdum laoreet egestas. Quisque non erat eu dui tempor condimentum. Nunc a dui in erat aliquam elementum. Aliquam eu metus odio, ac aliquam odio. Fusce vel magna vel neque placerat tincidunt. Mauris nec dapibus est. Maecenas sed lacinia nequ</p>
					<p class="ui-li-aside"><strong>6:24</strong>PM</p>

			</a></li>
			<li><a href="index.html">

					<h3>Lorem ipsum</h3>
					<p>dolor sit amet, consectetur adipiscing elit. Nullam fringilla posuere leo eu dignissim. Duis a lectus ut neque mattis volutpat at sed diam. Nunc interdum laoreet egestas. Quisque non erat eu dui tempor condimentum. Nunc a dui in erat aliquam elementum. Aliquam eu metus odio, ac aliquam odio. Fusce vel magna vel neque placerat tincidunt. Mauris nec dapibus est. Maecenas sed lacinia nequ</p>
					<p class="ui-li-aside"><strong>6:24</strong>PM</p>

			</a></li>
			
			

		</ul>
	</div><!-- /content -->

	<div data-role="footer" data-position="fixed" data-tap-toggle="false">
    <div data-role="navbar">
	<ul>
            <li><a href="#messages" class="ui-btn-active ui-state-persist">Messages</a></li>
			<li><a href="#notifications">Notifications</a></li>
            <li><a href="#">Logout</a></li>
	</ul>
    </div>  
</div>