<div data-role="page" id="listdrinks">

	<div data-role="header">
	<a href="javascript:history.go(-1)" data-icon="back">back</a>
		<h1>Drinks</h1>
	<a href="javascript:history.go(-1)" data-icon="add">Add</a>	
		
		
	</div><!-- /header -->

	<div data-role="content">	
<ul data-role="listview">
	<li><a href="drinks/index.html">
	
	<img src="images\gin-cucumber-drink.thumbnail.jpg" class="ui-li-thumb">
	<h3>Drink Name</h3>
	<p>Drink Description</p>
	<p>Brief list of ingredients</p>
	
	</a></li>
	<li><a href="drinks/index.html">
	
	<img src="images\gin-cucumber-drink.thumbnail.jpg" class="ui-li-thumb">
	<h3>Drink Name</h3>
	<p>Drink Description</p>
	<p>Brief list of ingredients</p>
	
	</a></li>
	<li><a href="drinks/index.html">
	
	<img src="images\gin-cucumber-drink.thumbnail.jpg" class="ui-li-thumb">
	<h3>Drink Name</h3>
	<p>Drink Description</p>
	<p>Brief list of ingredients</p>
	
	</a></li>
	<li><a href="drinks/index.html">
	
	<img src="images\gin-cucumber-drink.thumbnail.jpg" class="ui-li-thumb">
	<h3>Drink Name</h3>
	<p>Drink Description</p>
	<p>Brief list of ingredients</p>
	
	</a></li>
	<li><a href="drinks/index.html">
	
	<img src="images\gin-cucumber-drink.thumbnail.jpg" class="ui-li-thumb">
	<h3>Drink Name</h3>
	<p>Drink Description</p>
	<p>Brief list of ingredients</p>
	
	</a></li>
	
</ul><!-- /content -->

	<div data-role="footer" data-position="fixed" data-tap-toggle="false">
    <div data-role="navbar">
	<ul>
            <li><a href="#messages" class="ui-btn-active ui-state-persist">Messages</a></li>
			<li><a href="#notifications">Notifications</a></li>
            <li><a href="#">Friend Search</a></li>
	</ul>
    </div>  
</div>