<div style= "background: black;" data-role="page" id="mainmenu">
    <a href="javascript:history.go(-1)" data-rel="flip" ><div id="logo"  >
        
    </div></a>

	<div data-role="content">	
		<div class="ui-grid-b">
            <div class="ui-block-a">
                <div class="menuIcon">
                    <a href="drinks.html" ><img src="images/drinks.png"></a>
                </div>	
            </div>

            <div class="ui-block-b">
                <div class="menuIcon">
                    <a href="shots.html" ><img src="images/shots.png"/></a>
                </div>

            </div>
            <div class="ui-block-c">
                <div class="menuIcon">
                    <a href="rants/list.html" ><img src="images/rants.png"></a>
                </div>	
            </div>
            <div class="ui-block-a">
                <div class="menuIcon">
                    <a href="raves/list.html" ><img src="images/raves.png" /></a>
                </div>	
            </div>
            
            <div class="ui-block-b">
                <div class="menuIcon">
                	<a href="sauced/list.html" ><img src="images/sauced.png"></a>
                </div>	
            </div>
            
            <div class="ui-block-c">
                <div class="menuIcon">
                	<a href="wtf/list.html" ><img src="images/wtf.png" /></a>
                </div>	
            </div>            
        </div>
	</div><!-- /content -->

	<div data-role="footer" data-position="fixed" data-tap-toggle="false">
    <div data-role="navbar">
	<ul>
            <li><a href="/views/messages.html" class="ui-btn-active ui-state-persist">Messages</a></li>
			<li><a href="/views/notification.html">Notifications</a></li>
            <li><a href="#">Logout</a></li>
	</ul>
    </div>    
</div>
</div><!-- /page -->

<div data-role="page" id="dialog">


	<div data-role="content">	
		<b>This page will display the Most Recent Featured Item,
		The list option will display a list of all the previously featured items in order.
		</b></br>
	</div><!-- /content -->

	<div data-role="footer" data-position="fixed" data-tap-toggle="false">
    <div data-role="navbar">
	<ul>
            <li><a href="#messages" class="ui-btn-active ui-state-persist">Messages</a></li>
			<li><a href="#notifications">Notifications</a></li>
            <li><a href="#">Friend Search</a></li>
	</ul>
    </div>  
</div>