#logo {
	margin: 0 auto 0 auto;
	background: url(../images/logo320.png) no-repeat top center;
	min-width: 320px;
	min-height: 149 px;
	padding-bottom: 200px;
}
.barinfo {
	margin: 0;
	padding: 0;
	float: left;
}
.barinfo ul {
	list-style-type: none;
}
.viewphoto {
	width: 100px;
	height: 100px;
	float: left;
	border: 1px;
	margin: 5px;
}