<div data-role="page" id="Rants">

	<div data-role="header">
	<a href="javascript:history.go(-1)" data-icon="back">back</a>
		<h1>Rants</h1>
		<a href="list.html" data-icon="grid">List</a>
		
	</div><!-- /header -->

	<div data-role="content">	
		<b>Content will be less then 160 charactors per post, posts may also include a photo</b></br>
	</div><!-- /content -->

	
	<div data-role="footer" data-position="fixed" data-tap-toggle="false">
    <div data-role="navbar">
	<ul>
            <li><a href="#messages" class="ui-btn-active ui-state-persist">Messages</a></li>
			<li><a href="#notifications">Notifications</a></li>
            <li><a href="#">Friend Search</a></li>
	</ul>
    </div>  
</div>