<div data-role="page" id="bar">

	<div data-role="header">
	<a href="javascript:history.go(-1)" data-icon="back">back</a>
		<h1></h1>
		
	</div><!-- /header -->

	<div data-role="content">	
		<div class="barinfo">
				<ul><h3>Bar Name</h3>
					<li> 123 Street Address </li>
					<li>City, State</li>
				</ul>
		</div>
	</div><!-- /content -->

	<div data-role="footer" data-position="fixed" data-tap-toggle="false">
    <div data-role="navbar">
	<ul>
            <li><a href="views/messages.html" class="ui-btn-active ui-state-persist">Messages</a></li>
			<li><a href="views/notification.html">Notifications</a></li>
            <li><a href="#">Logout</a></li>
	</ul>
    </div>  
</div>